<!DOCTYPE html>
<div class="legend-win-header">
    <p class="buttons pull-right">
        <span class="glyphicon glyphicon-remove" title="Schließen"></span>
    </p>
    <p class="buttons pull-left">
        <span class="glyphicon glyphicon-book win-icon"></span>
    </p>
    <p class="title">
        <span>Legende</span>
    </p>
</div>

<div class="legend-win-content">
    <div class="panel-group" role="tablist" aria-multiselectable="true">
    <% _.each(legendParams, function(element, index) {
      if(element.isVisibleInMap === true) {
    %>
        <div class="panel panel-default">
            <div class="panel-heading legend-heading" role="tab" id="überschriftEins<%=index%>" data-toggle="collapse" href="#collapseEins<%=index%>" aria-expanded="true" aria-controls"collapseEins<%=index%>">
                <h4 class="panel-title legend-title">
                    <%= element.layername %>
                </h4>
            </div>
            <div id="collapseEins<%=index%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="überschriftEins<%=index%>">
                <div class="panel-body panel-legend">
                    <%

                    if (element.typ === "WFS") {
                    %>
                        <table>
                        <%
                        if (typeof element.img === "string") {
                            if (new RegExp(/(\.pdf)$/i).test(element.img) === true) { %>
                                <a href=<%= element.img %> target="_blank">weitere Informationen</a>
                            <% }
                            else { %>
                                <p>
                                    <img src=<%= element.img %>>
                                </p>
                            <% }
                        }
                        else {
                            _.each(element.img, function (image, index2) {
                            %>
                            <tr>
                                <td class="tdLegend">
                                <% if (image.indexOf("<svg") !== -1){%>
                                   <div class="tdLegend-no-image"><%= image %></div>
                                <%} else {%>
                            <img src="<%= image %>">
                            <%}%>
                                </td>
                                <td class="tdLegend">
                                   <span><%= element.legendname[index2] %></span>
                                </td>
                           </tr>
                            <%
                            });
                        }
                            %>
                        </table>

                    <% }else if (element.typ === "styleWMS") {%>

                        <table>
                      <% _.each(element.params, function(param){
                       %>
                            <tr>
                                <td><div class="styleWMS" style="background-color:<%=param.color%>"></div></td>
                                <td><%=param.startRange%> - <%=param.stopRange%></td>
                            </tr>
                       <%
                       });
                       %>
                        </table>

                    <%
                    }
                    else {
                        if (typeof element.img === "string") {
                            if (new RegExp(/(\.pdf)$/i).test(element.img) === true) { %>
                                <a href=<%= element.img %> target="_blank">weitere Informationen</a>
                            <% }
                            else { %>
                                <p>
                                    <img src=<%= element.img %>>
                                </p>
                            <% }
                        }
                        else {
                        %>
                        <% if (element.img.length > 1) {
                            _.each(element.img, function (image) { %>
                                <p>
                                    <img src=<%= image %>>
                                </p>
                        <%    });
                        }
                        else { %>
                            <p>
                                <img src=<%= element.img[0] %>>
                            </p>
                        <% }
                        }
                       }
                    %>
                </div>
            </div>
        </div>

    <% }}); %>
    </div>
</div>
